<link rel="stylesheet" href="/css/404.css" />
<h1>404 Error page</h1>
<p class="zoom-area"><b>page</b> yang anda tuju tidak terdaftar</p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
