<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Challange Chapter 3</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- start navbar -->

    <nav class="navbar navbar-expand-lg bg-transparent-light fixed-top">
      <div class="container">
        <button
          class="navbar-toggler bg-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">LOGO</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mx-auto mb-3 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
                id="navbar-main"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="navbar-main">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="navbar-main">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="navbar-main">About Me</a>
            </li>
          </ul>
          <div>
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/register"
                  id="navbar-main"
                  >SIGN UP</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/login"
                  id="navbar-main"
                  >LOGIN</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- end navbar -->
    <!-- Hero -->
    <section class="container-fluid text-center" id="jumbotron">
      <div class="row">
        <div class="col-12" id="jumbotron-isi">
          <h1 class="h1-jumbotron">PLAY TRADITIONAL GAME</h1>
          <br />
          <h3 class="h3-jumbotron">Experience new traditional game play</h3>
          <br />
          <button type="button" class="btn btn-warning" id="main-button">
            <a href="/login"> PLAY NOW</a>
          </button>
        </div>
      </div>
      <div class="the-story">
        <a href="#feature" class="the-story2">The story</a>
        <br />
        <a href="#feature"><img src="/img/assets/scroll-down.svg" alt="" /></a>
      </div>
    </section>

    <!-- hero -->

    <!-- feature -->
    <section class="container-fluid" id="feature">
      <div class="row">
        <div class="col-sm-4">
          <div class="feature-main text-end">
            <h3 class="h3-feature">What's so special?</h3>
            <h1 class="h1-feature">THE GAMES</h1>
          </div>
        </div>
        <div class="col-sm-8">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="true"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/img/assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/img/assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/img/assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- feature -->

    <!-- botak -->
    <section class="container-fluid text-start" id="botak">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-sm-6">
          <div class="main-botak">
            <h3 class="h3-botak">What so special?</h3>
            <h1 class="h1-botak">FEATURE</h1>
          </div>
          <div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <ul class="timeline">
                <li class="event">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button
                        id="text-accordion"
                        class="accordion-button collapsed text-end"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne"
                        aria-expanded="false"
                        aria-controls="flush-collapseOne"
                      >
                        Traditional Games
                      </button>
                    </h2>
                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        If you miss your childhood, we provide many traditional
                        games here
                      </div>
                    </div>
                  </div>
                </li>
                <li class="event">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button
                        id="text-accordion"
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo"
                        aria-expanded="false"
                        aria-controls="flush-collapseTwo"
                      >
                        GAME SUIT
                      </button>
                    </h2>
                    <div
                      id="flush-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">sangat cocok untuk anda</div>
                    </div>
                  </div>
                </li>
                <li class="event">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button
                        id="text-accordion"
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree"
                        aria-expanded="false"
                        aria-controls="flush-collapseThree"
                      >
                        TBD
                      </button>
                    </h2>
                    <div
                      id="flush-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingThree"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        Jadi apa itu TBD? TBD sendiri singkatan dari To Be
                        Discussed. Singkatnya TBD atau To Be Discussed adalah
                        topik atau tema yang sedang didiskusikan dan belum ada
                        keputusan pasti. Singkatnya bisa Iya dan bisa Tidak.
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- botak -->

    <!-- system requirment -->
    <section class="container-fluid text-center" id="sr">
      <div class="row">
        <div class="col-12 text-center p-5 mt-5" id="sr-1">
          Can My Computer Run this game?
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <h1 class="h1-sr text-start">SYSTEM</h1>
          <h1 class="h1-sr text-start">REQUIRETMENT</h1>
          <br />
          <!-- TABEL -->
          <table class="table table-bordered">
            <tr>
              <td>
                <p class="table-text">OS:</p>
                <p class="table-sub">
                  Windows 7 64-bit only (No OSX support at this time)
                </p>
              </td>
              <td>
                <p class="table-text">PROCESSOR:</p>
                <p class="table-sub">
                  Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="table-text">MEMORY:</p>
                <p class="table-sub">4 GB RAM</p>
              </td>
              <td>
                <p class="table-text">storage:</p>
                <p class="table-sub">8 GB available space</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p class="table-text">GRAPHICS:</p>
                <p class="table-sub">
                  NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
                  (Shader Model 5)
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-7"></div>
      </div>
    </section>
    <!-- system requirment -->

    <!-- top score -->
    <section class="container-fluid text-center" id="top-score">
      <div class="row">
        <div class="col-md-4">
          <div class="mt-100 px-5" id="topscore-text">
            <h1 class="text-top-score text-white">TOP SCORES</h1>
            <p class="my-3 text-white">
              This top score from various games provided on this platform
            </p>

            <button
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#modal-see-more"
            >
              see more
            </button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card ms-auto" id="card-1">
            <div class="card-body">
              <div class="card-title d-flex justify-content-between">
                <div class="image-profil d-flex">
                  <img src="/img/assets/evan-lahti.jpg" alt="" />

                  <div class="pl-3">
                    <p class="ms-3" id="nama-card">Evan Lahti</p>
                    <p class="text-muted ms-3">PC Gamer</p>
                  </div>
                </div>

                <a href=""><img src="/img/assets/twitter.svg" alt="" /></a>
              </div>

              <p class="card-text" id="text-card">
                “One of my gaming highlights of the year.”
              </p>

              <p class="text-muted">June 18, 2021</p>
            </div>
          </div>
          <div class="card mx-auto d-none d-md-block" id="card-2">
            <div class="card-body">
              <div class="card-title d-flex justify-content-between">
                <div class="image-profil d-flex">
                  <img src="/img/assets/jada-griffin.jpg" alt="" />

                  <div class="pl-3">
                    <p class="ms-3" id="nama-card">Jada Griffin</p>
                    <p class="text-muted ms-3">Nerdreactor</p>
                  </div>
                </div>

                <a href=""><img src="/img/assets/twitter.svg" alt="" /></a>
              </div>

              <p class="card-text" id="text-card">
                “The next big thing in the world of streaming and survival
                games.”
              </p>

              <p class="text-muted">July 10, 2021</p>
            </div>
          </div>
          <div class="card ms-auto d-none d-md-block" id="card-3">
            <div class="card-body">
              <div class="card-title d-flex justify-content-between">
                <div class="image-profil d-flex">
                  <img src="/img/assets/aaron-williams.jpg" alt="" />

                  <div class="pl-3">
                    <p class="ms-3" id="nama-card">Aaron Williams</p>
                    <p class="text-muted ms-3">Uproxx</p>
                  </div>
                </div>

                <a href=""><img src="/img/assets/twitter.svg" alt="" /></a>
              </div>

              <p class="card-text" id="text-card">
                “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                Ridiculous.”
              </p>

              <p class="text-muted">December 24, 2018</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- top score -->
    <!-- footer -->

    <section class="container-fluid text-start" id="footer">
      <div class="row">
        <div class="col-5 d-none d-md-block">
          <div class="col-12">
            <img src="/img/assets/skull.png" alt="" class="skull" />
          </div>
        </div>
        <div class="col-7" id="main-footer">
          <h3 class="h3-footer">Want to stay in</h3>
          <h3 class="h3-footer">touch?</h3>
          <h1 class="h1-footer">NEWSLETTER</h1>
          <h1 class="h1-footer">SUBSCRIBE</h1>
          <p class="p-footer">
            In order to start receiving our news, all you have to do is enter
            your email address. Everything else will be taken care of by us. We
            will send you emails containing information about game. We don’t
            spam.
          </p>
          <div class="row">
            <div class="col">
              <input
                type="email"
                placeholder="your email address"
                class="form-control py-2"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="col-lg">
              <button type="button" class="btn btn-warning" id="button-footer">
                SUBSCRIBE NOW
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row footer-menu justify-content-center text-white fw-bold"
        id="footer-menu"
      >
        <div class="col-auto">
          <a href="#jumbotron" class="footer-bar d-none d-md-block">MAIN</a>
        </div>
        <div class="col-auto">
          <a href="#feature" class="footer-bar d-none d-md-block">ABOUT</a>
        </div>
        <div class="col-auto">
          <a href="#botak" class="footer-bar d-none d-md-block"
            >GAME FEATURES</a
          >
        </div>
        <div class="col-auto">
          <a href="#sr" class="footer-bar d-none d-md-block"
            >SYSTEM REQUIREMENTS</a
          >
        </div>
        <div class="col-auto">
          <a href="#top-score" class="footer-bar d-none d-md-block">QUOTES</a>
        </div>
        <div class="col-auto">
          <a href=""><img src="/img/assets/facebook.svg" alt="" /></a>
        </div>
        <div class="col-auto">
          <a href=""><img src="/img/assets/twitter.svg" alt="" /></a>
        </div>
        <div class="col-auto">
          <a href=""><img src="/img/assets/Vector.svg" alt="" /></a>
        </div>
        <div class="col-auto">
          <a href=""><img src="/img/assets/twitch.svg" alt="" /></a>
        </div>
        <div class="row footer-menu justify-content-end text-white fw-bold">
          <hr />
        </div>
        <div class="row footer-menu text-white fw-bold">
          <div class="col-md-6 copyright">
            <p class="text-start" id="copyright">
              © 2022 LabibPlop Game, Inc. All Rights Reserved
            </p>
          </div>
          <div class="col-md-6 copyright">
            <p class="text-end" id>
              Privacy Policy | Terms of Services | Code of Conduct
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
